<div class="container text-center my-5">
<h1 class="noAdsFound">
        <span> No Ads Found! </span>
    </h1>
    <br/>
    <h1 class="sellProducts">
        <span style=" color:#000080">"Sell your pre-loved items now for quick cash! <br> Upgrade responsibly!"</span>
    </h1>
    <button id="buttonPostNewAd" type="button" class="btn btn-success btn-lg" data-bs-toggle="modal"
            data-bs-target="#myModal">
        <i class="fa-solid fa-pen-to-square"></i> Post New Ad
    </button>
</div>
